.navbar{
    background-color: rgba(0,0,0,0.9) !important;    		
}

#navbar {
    transition: top 0.3s;
}

.nav-link{
    font-family:'Open Sans',Arial,sans-serif; /*'Orbitron',Arial,sans-serif !important;		*/
    		
    text-decoration:none !important;
    border-bottom: 1px solid transparent;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;					
    font-size: 14px;		
    color: #252525;			
}

.nav-link:hover{
    color:#f1f1f1 !important;
}

@media (max-width: 800px) {
    

    

    .navbar-brand{
        color:#f1f1f1 !important;	
    }
    .nav-link{
        color:#f1f1f1 !important;		        	
    }
    
}