body{
    background-image: url("/portfolio/lib/images/bg/carbon-fibre.png");
    background-color: #2F2F2F;      
    overflow-x: hidden;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
}

.container-fluid{
    padding-left: 30px !important;
    padding-right:30px !important;
}

#card-0{
    margin-top:50px;
}

i{
    margin-right: 3px;    
    margin-left: 3px;    
}

.fa, .fas, .fab{
    line-height: unset;
}

.img-personal{
    height:200px;
    width: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

a,div,span{
    text-decoration: none;    
    color:#4d4d4d;  
}

.fab{
    font-size: 2rem;
    margin:5px;
}

.row{
    text-align: center;
    width:100%;
    margin-left:0px;
    margin-right:0px;
}

.card-default{    
    box-shadow: -4px 4px 8px black;    
    margin:2px;   
    text-align: center;  
    border-radius:10px; 
    background-color: white; 
    border-radius: 5px;          
    color:#4d4d4d;
    margin:2px;
    margin-top:30px;
    width:100%;
    padding: 3px;
    max-width: 1000px;
}


.outside-card{
    width:100%;
}

.card-body-default{
    padding-top:10px;
    padding-bottom: 15px;
}

.txt-lines{
    margin-bottom: 5px;
    width:100%;
    cursor: pointer;
}

.txt-title{
    font-size: 2.75 rem;    
    font-weight: bold;
    margin-top:15px;
    margin-bottom:15px;
}

.txt-body{
    text-align: center;
}

#bt-up {  
    position: fixed;
    display: none;
    bottom: 40px;
    right: 10px;
    z-index: 99;
    font-size: 12px;    
    outline: none;
    background-color: rgba(47, 47, 47, 0.7);
    color: white;
    border: 1px solid white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;       
}

#bt-up:hover {
    background-color: #404040;
}

/* COLLAPSE ABOUT */
#module-experience {
   text-align: center;
   font-size: 1.25rem;
   font-weight: 300;
   line-height: 1.5;
}   
#module-experience #txt-experience-body.collapse:not(.show) {
    display: block;
    height: 200px;
    overflow: hidden;
}  
#module-experience #txt-experience-body.collapsing {
    height: 200px;
}  
#module-experience a.collapsed::after {
    content: '+ More';
    color:blue;
}  
#module-experience a:not(.collapsed)::after {
    content: '- Less';
    color:red;
}
#module-experience a{
    width:100%;
    text-align: right;
}
/* ----------------- */

/* COLLAPSE EXPERIENCE */
#module-skills {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5;
}   
#module-skills #txt-skills-body.collapse:not(.show) {
     display: block;
     height: 170px;
     overflow: hidden;
}  

#module-skills #txt-skills-body.collapsing {
     height: 170px;
}  

#module-skills a.collapsed::after {
     content: '+ More';
     color:blue;
}  

#module-skills a:not(.collapsed)::after {
     content: '- Less';
     color:red;
}

#module-skills a{
     width:100%;
     text-align: right;
}

@media (max-width: 800px) {
    .container-fluid{
        padding-left: 1px !important;
        padding-right: 1px !important;
        font-size: 1.25rem !important;
        font-weight: 300 !important;
    }

    #module-experience, #module-skills, #module-about{
        font-size: 1.25rem !important;
        font-weight: 300 !important;
    }

    #module-experience #txt-experience-body.collapse:not(.show) {
        height: 170px;
    }  

    #module-skills #txt-skills-body.collapse:not(.show) {
        height: 170px;
    }  

    .card-default{
        border-radius:4px;
        margin:0px;
        margin-top:10px;
        min-width: 100%;        
    }

    .row{
        margin-left:0px;
        margin-right:0px;
    }
    .col{
        padding-left: 2px;
        padding-right: 2px;
        min-width: 100%;
    }
    .container-fluid{
        padding-left: 2px;
        padding-right: 2px;
    }
}
