<div id="card-1" class="row">
  <div align="center" class="outside-card">
    <div class="card-default ">
      <div class="card-body-default">
        <div class="txt-title"><i class="fas fa-info-circle"></i>
          <span id="txt-professional-title">ABOUT</span>
        </div>
        <span class="txt-body" id="txt-professional-body">
          Software Engineer | Full Stack Developer
          <hr>
          <br>
          • Passionate about systems, with experience in developing commercial and
          industrial solutions, creating web, mobile, IOT and desktop softwares, analyzing the platform that best fits
          the demand.
          <br><br>
          • 17 years of experience developing software's as a full stack developer,
          designing end-to-end applications, building UX/UI designs, modeling databases, structuring communication architectures,
          developing web, desktop, mobile and IOT systems.
          <br><br>
          • I coordinated development teams about four years with agile Scrum methodology.
          I also work as freelancer creating on-demand solutions such as web systems, mobile apps,
          API gateways and business automation software's.
          <br><br>
          • 11 years of experience in developing electronic applications, software's for communication between devices,
          dashboards and IOT integrations.


        </span>
      </div>
    </div>
  </div>
</div>