<div id="card-2" class="row">
  <div align="center" class="outside-card">
    <div class="card-default">
      <div class="card-body-default">
        <div class="txt-title">
          <i class="fas fa-briefcase"></i><span id="txt-about-title"> EXPERIENCE</span>
        </div>
        <div id="container-experience" class="container-experience">
          <div id="module-experience" class="container">
            <p class="collapse" id="txt-experience-body" aria-expanded="false">

            </p>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>