<div id="card-0" class="row">
  <div align="center" class="outside-card">
    <div class="card-default">
      <div class="card-body-default">
        <div align="center">
          <img class="img-personal" src="/portfolio/lib/images/personal/me3.jpg" alt="">
          <div class="txt-lines"><b>ANDRE DE SOUZA MEDEIROS LEAL</b></div>
          <div class="txt-lines">
            <i class="fas fa-envelope" style="color:#d93025"></i>
            andre.medeiros.leal@gmail.com
          </div>
          <div class="txt-lines"><i class="fab fa-whatsapp" style="color:#06d755"></i>
            <a href="https://api.whatsapp.com/send?phone=+5527999220375"> +55 (27)9 9922-0375</a>
          </div>

          <br>
          <div align="center">
            <a href="//www.linkedin.com/in/andr%C3%A9-de-souza-medeiros-leal-56642652" style="color:#0077b5"><i
                class="fab fa-linkedin social"></i></a>
            <a href="https://github.com/andremedeirosleal"><i class="fab fa-github social"
                style="color:#24292e"></i></a>
            <a href="https://www.youtube.com/channel/UC9QYNjCTZgZXY_KuZixTLMA/videos"><i class="fab fa-youtube social"
                style="color:#ff0000"></i></a>
            <a href="https://www.facebook.com/andre.medeirosleal"><i class="fab fa-facebook social"
                style="color:#4267b2"></i></a>
            <a href="https://www.instagram.com/andremedeirosleal/"><i class="fab fa-instagram social"
                style="color:#272324"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>