<div id="card-3" class="row">
  <div align="center" class="outside-card">
    <div class="card-default">
      <div class="card-body-default">
        <div class="txt-title">
          <i class="fas fa-gem"></i><span id="txt-experience-title"> MAIN SKILLS</span>
        </div>
        <div id="container-skills" class="container-skills">
          <div id="module-skills" class="container">
            <b>MOBILE</b>
            <hr>
            • Flutter<br>
            • Mobx - Estate Management<br>
            • UX/UI design<br>
            • API data<br>
            • Firebase<br>
            • Clean Architecture<br>
            <br>
            <b>WEB</b>
            <hr>
            • API development<br>
            • API Gateway's<br>
            • Azure Clouding & Web apps<br>
            • Bootstrap framework<br>
            • Google Cloud App Engine<br>
            • Google Maps Geolocation<br>
            • JavaScript<br>
            • jQuery<br>
            • JWT - JSON Web Token<br>
            • Micro services development<br>
            • PHP developments<br>
            • Restful applications<br>
            • Serverless applications<br>
            <br>
            <b>DATABASES</b>
            <hr>
            • Cosmos DB<br>
            • Mongo DB<br>
            • MySQL / Maria DB<br>
            • Oracle<br>
            • PostgreSQL<br>
            • Sql Server<br>
            <br>
            <b>OTHERS</b>
            <hr>
            • Git<br>
            • Message Broker - Active MQ<br>
            • C, C#, C++<br>
            • Delphi<br>
            • IOT – Internet of Things<br>
            • OPC protocol<br>
            • Python script solutions<br>
            • RS232, 485, LPT - protocols<br>
            • Talend – Integration solutions<br>
            • VB, VBA, VBS solutions<br>
            <br>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>